#video-info {
    text-align: center;
    margin: 0;
    padding: 0 0 40px;
}

#video-info p {
    margin: 0 auto;
    text-align: center;
}

#comments-list {
    text-align: center;
    margin: 0;
    height: 200px;
    border: 1px;
    overflow-x: auto;
    overflow-y: auto;
    padding: 0 0 40px;
}

#comments-table {
    text-align: left;
    width: 80%;
    word-wrap: break-word;
    word-break: break-all;
}

#analysis-wordcount {
    text-align: center;
    padding: 0 0 40px;
    width: 100%;
    height: 500px;
    background: white;
    margin: 0 auto;
}

#analysis-heatmap {
    text-align: center;
    padding: 0 0 40px;
    width: 100%;
    height: 300px;
    background: white;
    margin: 0 auto;
}


.my-title {
    text-align: center;
    margin: 0 auto;
}
